<div class="ui three column grid">
  <div class="column">
  </div>
  <div class="column">
    <div class="ui fluid form segment">
      <h3 class="ui header">Signup</h3><span style="color:red;" id="validatemessage"></span>
      <div class="field">
        <label>Name</label>
        <input type="text" placeholder="Name" id="name">
      </div>
      <div class="field">
        <label>Username</label>
        <input type="text" placeholder="Username" id="username">
      </div>
       <div class="field">
        <label>Email</label>
        <input type="text" placeholder="Email" id="email">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" placeholder="Password" id="password">
      </div>
     <div class="ui blue submit button"  ng-click="register()">Sign up</div>
     <a href="" ng-click="signin()">Already a member Sign in</a>
    </div>
  </div>
  <div class="column">
  </div>
</div>