<div class="ui three column grid">
  <div class="column">
  </div>
  <div class="column">
    <div class="ui fluid form segment">
      <h3 class="ui header">Log-in</h3><span style="color:red;" id="validatemessage"></span>
      <div class="field">
        <label>Email</label>
        <input type="text" placeholder="Email" id="signinemail">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" placeholder="Password" id="signinpassword">
      </div>
       <div class="ui blue submit button" ng-click="login()">Login</div>
       <a href=""  ng-click="signup()">Not a member Signup</a>
    </div>
  </div>
  <div class="column">
  </div>
</div> 