<div class="ui grid">
        <div class="computer tablet only row">
            <div class="ui inverted fixed menu navbar page grid">
                <a href="" class="brand item">Project Name</a>
                <a href="" class="active item">Home</a>             
                <a href="" class="active item" ng-click="signout()">Signout</a>                
            </div>
        </div>
        </div>
               
    <div class="ui page grid main">
        <div class="row">
            <div class="column padding-reset">
                <div class="ui large message">
                    <h1 class="ui huge header">Nodsem Generator Example</h1>                  
                </div>
            </div>
        </div>
    </div>