<div class="ui three column grid">
  <div class="column">
  </div>
  <div class="column">
    <div class="ui fluid form segment">
     <span style="color:red;" id="validatemessage"></span>
      <div class="field">
         <input type="password" name="username" id="changepassword" class="form-control input-lg" placeholder="New password" ng-model="host.username" required ng-minlength="3">
      </div>
      <div class="field">
         <input type="password" name="password" id="confirmchangepassword" class="form-control input-lg" placeholder="Confirm New password" ng-model="host.password">
      </div>
       <div class="ui blue submit button" ng-click="changeuserpassword()">Change password</div>
    </div>
  </div>
  <div class="column">
  </div>
</div> 