<div class="container">

  <div class="row" style="margin-top:20px">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form"  novalidate>
        <span style="color:red;" id="validatemessage"></span> 
        <fieldset>
          <h2>Sign up</h2>
          <hr class="colorgraph">
          <div class="form-error" ng-bind="errorMessage"></div>
          <div class="form-group">
              <input type="text" name="firstname" id="name" class="form-control input-lg" placeholder="name" ng-model="host.firstname" required ng-minlength="3">
          </div>
          <div class="form-group">
              <input type="text" name="lastname" id="username" class="form-control input-lg" placeholder="username" ng-model="host.lastname" required ng-minlength="3">
          </div>
          <div class="form-group">
              <input type="text" name="username" id="email" class="form-control input-lg" placeholder="email" ng-model="host.username" required ng-minlength="3">
          </div>
          
          <div class="form-group">
              <input type="password" name="password" id="password" class="form-control input-lg" placeholder="password" ng-model="host.password">
          </div>
          <div class="form-group">
              <a href="" class="btn btn-lg btn-primary btn-block" ng-click="register()">Sign up</a>
              <a href="" class="btn btn-lg btn-primary btn-block" ng-click="signin()">Login</a>
          </div>
          <hr class="colorgraph">
        </fieldset>
      </form>
    </div>
  </div>

</div>